*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* chỉnh sửa lại lỗi float*/
.#content .
    #content .;{

    }
}{

}
#main{

}
#header{
position: fixed;
top: 0;
left:0;
right: 0;
height: 45px;
background: black;
z-index: 1;
}
#nav{
display: inline-block;
}
#nav li{
display: inline-block;
position: relative;
list-style-type: none;


}
#nav > li > a{
     color: white;
     text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    background-color: #ccc;
    color:black;
}
#nav .subnav{
    display: none;
    position: absolute; 
    background-color: white;
    min-width: 160px;
    box-shadow: 0  0 10px rgba(0, 0 ,0,0.3);
}
#nav .subnav a{
    color:black;
    width: 160px;
}
#nav li:hover .subnav{
    display:block;
}
#nav .nav-arrow-down{
    font-size: 10px;
}
#header .search-btn{
float: right;

}
#header .search-btn:hover{
    background-color: tomato;
    cursor: pointer;
}
#header .search-icon{
font-size: 20px;
color: white;
line-height: 46px;
padding: 0 20px;
} 


#slider{
margin-top: 45px;
padding-top: 50%;
background: url('/Web 3 band/assets/css/img/chicago.jpg') top center/ cover no-repeat;
position: relative;
}
#slider .text-content{
    color: white;
   position: absolute;
   bottom: 48px;
   left:50%;
   transform: translateX(-50%);
   text-align: center;
   /*width:100%;*/
   /* right:0;
   left:0;*/
}
#slider .text-heading{
font-weight: 500;
font-size: 24px;
}

#slider .text-description{
font-size: 15px;
margin-top: 25px;
}
#content{

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .section-heading{
text-align: center;
font-size: 30px;
font-weight: 500;
letter-spacing: 4px;
}
#content .section-sub-heading{
text-align: center;
margin-top: 25px;
font-size: 15px;
font-style: italic;
opacity: 0.6;
}
#content .about-text{
font-size: 15px;
margin-top: 25px;
text-align: justify;
line-height: 1.4;
}
#content .members-list{
margin-top: 48px;
/*chỉnh sửa lại lỗi float*/
/*overflow: hidden;*/
}
#content .members-item{
float: left;
width: 33.33333%;
text-align: center;
}
#content .members-name{
font-size: 15px;

}
#content .members-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;
} 


#footer{

}